body
{
background: url("../bgtile.png") repeat-x;
font:200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
font-style: normal;
font-variant-ligatures: normal;
font-variant-caps: normal;
font-variant-numeric: normal;
font-weight: 200;
font-stretch: normal;
font-size: 16px;
line-height: 1.5;
margin-top: 0px;
margin-right: 0px;
margin-bottom: 0px;
margin-left: 0px;
}
.page
{
  margin:90px auto 0;
  width: 880px;
}
div{
  display: block;
}
.content
{
float: right;
}
h1
{
display: block;
-webkit-margin-before: 0.67em;
-webkit-margin-after: 0.67em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
font-size: 2em;
font-weight: bold;
}
.main
{
background:#fff url("..bgtile.png") repeat-x;
min-height:204px;
padding: 40px;
width: 424px;
}
.main h2
{
color: #06365f;
font-size: 27px;
line-height: 1.4;
margin-top: 0;
}
p {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}
.main p{
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}
.main a
{
  display: inline-block;
  margin-right: 10px;
  margin-top: 30px;
  text-decoration: none;
}
.footer
{
clear: both;
list-style: none;
margin: 0 0 20px;
padding: 0;
}
.footer li {
  color: grey;
  display: inline;
  font-size: 10px;
  font-weight: bold;
  margin: 0 10px;
  text-transform: uppercase;
}
.footer a{
  color:#1c5380;
  text-decoration: none;
}

title

{
  display: none;
}
